<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset='utf-8' />
    
    <link href='fullcalendar/main.css' rel='stylesheet' />
    <script src='fullcalendar/main.js'></script>
<!-- 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.js"></script> -->

  </head>

  <body>
    <h4>CremaRun Scheduler</h4>
    <p>Title:</p>
    <input type="text"/>
    <p>Start:</p>
    <input type="date" id="dateInput"/>
    <input type="time" id="timeInput"/>
    <p><span id="selectedDay">(Selected Day) </span>End Time:</p>
    <input type="time" id="timeInput"/>
    <p>Location:</p>
    <input type="text"/>
    <br></br>
    <button id="addButton">Add Crema Run</button>

    <h1>CremaCal</h1>
    <div id='calendar'></div>
    <script src="Calendar.js"></script>
  </body>

</html>
