@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Work+Sans:wght@200;400&display=swap');


.App {
  font-family: 'Quicksand', sans-serif;
  font-family: 'Work Sans', sans-serif;
  background-color: #f0efeb;
  color: black;
}

/* #cremaTitle {
  color: #c9184a;
} */

.cremaTitle {
  padding-top: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
}

.navbarFormat {
  padding-right: 15px;
  padding-left: 10px;
}

.homePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutFormat {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 250px;
  padding-left: 250px;
}

.signInFormat {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.loginSuccess {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileFormat {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.calendarFormat {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.ReactModal__Overlay {
  z-index: 9000;
  overflow: scroll;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.modalContent {
  display: flex;
}

.modalFormat {
  flex: 1;
  padding-right: 50px;
}

.test {
  flex: 1;
}

.leftHalf {
  flex: 1;
  padding-left: 55px;
  padding-right:30px;
}

.rightHalf {
  flex: 1;
  padding-left: 30px;
  padding-right:55px;
}

.rightHalfProfile {
  flex: 1;
  padding-top: 25px;
  padding-left: 30px;
  padding-right:50px;
}

.leftHalfCalendar {
  flex: 1;
  padding-left: 30px;
  padding-right: 10px;
}

.rightHalfCalendar {
  flex: 2;
  padding-top: 73px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 15px;
}
